@{
    ViewBag.Title = "Manage";
    var MENTOR = Request.QueryString["MENTOR"];
    var EMP_ID = Request.QueryString["EMP_ID"];
    var COURSE_ID = Request.QueryString["COURSE_ID"];
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/index.js")"></script>
}
@Html.Hidden("hdUrl", Url.Action("Action", "Home"))
<h4 class="page-header" style="margin: 10px;"><strong>@ViewBag.Title</strong></h4>
<div class="row">
    <div class="col-sm-8">
        <form class="form-inline">
            <div class="form-group">
                <label for="from">Mentor:</label>
                <select class="form-control" id="mentor" name="MENTOR">
                    <option></option>
                    @foreach (var item in ViewBag.MENTORS)
                    {
                        <text>
                        <option value="@item.ID" @(MENTOR == item.ID ? "selected" : "")>@item.NAME.Trim()</option>
                        </text>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="to">Mentee:</label>
                <select class="form-control" id="mentee" name="EMP_ID">
                    <option></option>
                    @foreach (var item in ViewBag.MENTEES)
                    {
                        <text>
                        <option value="@item.ID" @(EMP_ID == item.ID ? "selected" : "")>@item.NAME.Trim()</option>
                        </text>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="to">Period:</label>
                <select class="form-control" id="selPeriod" name="COURSE_ID">
                    <option></option>
                    @foreach (var item in ViewBag.COURSE)
                    {
                        <text>
                        <option value="@item.ID" @((COURSE_ID != null && Convert.ToInt32(COURSE_ID) == item.ID) ? "selected" : "")>@item.NAME.Trim()</option>
                        </text>
                    }
                </select>
            </div>
            <button type="submit" id="btnSearch" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button>

        </form>
    </div>

    <div class="col-sm-4">
        <button id="btnModify" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>Modify</button>
        <button id="btnSave" class="btn btn-primary" type="button" data-action="0" data-emp=""><span class="glyphicon glyphicon-file"></span>Save</button>
        <button id="btnExport" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-export"></span>Export</button>
    </div>

</div>
<div class="table-responsive">
    <table id="tbMainDefault" class="table table-bordered">
        <thead>
            <tr class="tbheader">
                <th style="vertical-align: middle;">#</th>
                <th style="vertical-align: middle;">Period</th>
                <th style="vertical-align: middle;">Em ID</th>
                <th style="vertical-align: middle;">Workgroup</th>
                <th style="vertical-align: middle;">Full Name</th>
                <th style="vertical-align: middle;">Status</th>

            </tr>


        </thead>
        <tbody>
        </tbody>
    </table>
</div>

