@{
    ViewBag.Title = "test";
}

  @for (int i = 0; i < ViewBag.HIS.Count; i++)
            {
                int count = ViewBag.HIS[i].CNT_EMP;
                var cntCourse = count / ViewBag.HIS[i].CNT_COURSE;
                var his = ViewBag.HIS[i];
                <text>
                <tr>
                    <td rowspan="@his.CNT_EMP">@his.EMP_ID</td>
                    <td rowspan="@his.CNT_EMP">
                        <img src="@his.PICTURE.Trim()" class='img-rounded' height='100' width='100' alt='X' />
                    </td>
                    <td rowspan="@his.CNT_EMP">@his.EMP_NAME.Trim()</td>
                    <td rowspan="@his.CNT_EMP">@his.DEPARTMENT.Trim()</td>
                    <td rowspan="@his.CNT_COURSE">@his.PERIOD.Trim()</td>
                    <td>@(his.STATUS == null ? "" : his.STATUS.Trim())</td>
                    <td>@his.SUB_ID</td>
                    <td>@(his.SUB_LEVEL == null ? "" : his.SUB_LEVEL.Trim())</td>
                    <td>@(his.START_DT == null ? "" : his.START_DT.ToString())</td>
                    <td>@(his.END_DT == null ? "" : his.END_DT.ToString())</td>
                    <td>@his.APPROVE.Trim()</td>
                    <td></td>
                    <td></td>
                    <td>@(his.REC_START_DT == null ? "" : his.REC_START_DT.ToString())</td>
                    <td>@(his.REC_END_DT == null ? "" : his.REC_END_DT.Trim())</td>
                    <td>@(his.MANAGER_CMT == null ? "" : his.MANAGER_CMT.Trim())</td>
                    <td>@(his.HR_CMT == null ? "" : his.HR_CMT.Trim())</td>
                    <td>@(his.TEST_TIME == null ? "" : his.TEST_TIME.ToString())</td>
                    <td rowspan="@his.CNT_EMP">@his.SCORE</td>
                    <td rowspan="@his.CNT_EMP">@(his.RESULT_LEVEL == null ? "" : his.RESULT_LEVEL)</td>
                </tr>
                </text>
             cntCourse--;
              
                for (int j = 1; j < count; j++)
                {
                    var his1 = ViewBag.HIS[j];
                <text>
                <tr>
                   @if (cntCourse > 0 )
                   {
                        <td rowspan="@his1.CNT_COURSE">@his.PERIOD.Trim()</td>
                   }
                    <td>@(his1.STATUS == null ? "" : his1.STATUS.Trim())</td>
                    <td>@his1.SUB_ID</td>
                    <td>@(his1.SUB_LEVEL == null ? "" : his1.SUB_LEVEL.Trim())</td>
                    <td>@(his1.START_DT == null ? "" : his1.START_DT.ToString())</td>
                    <td>@(his1.END_DT == null ? "" : his1.END_DT.ToString())</td>
                    <td>@his1.APPROVE.Trim()</td>
                    <td></td>
                    <td></td>
                    <td>@(his1.REC_START_DT == null ? "" : his1.REC_START_DT.ToString())</td>
                    <td>@(his1.REC_END_DT == null ? "" : his1.REC_END_DT.Trim())</td>
                    <td>@(his1.MANAGER_CMT == null ? "" : his1.MANAGER_CMT.Trim())</td>
                    <td>@(his1.HR_CMT == null ? "" : his1.HR_CMT.Trim())</td>
                    <td>@(his1.TEST_TIME == null ? "" : his1.TEST_TIME.ToString())</td>
                </tr>
                </text>
                }
                i = i + count - 1;
            }
