@{
    ViewBag.Title = "Management";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/employee.js")"></script>
}
@Html.Hidden("hdUrl", Url.Action("Action", "Ajax"))
<h4 class="page-header" style="margin: 10px;">@ViewBag.Title</h4>
@if (@TempData["return"] != null)
{
    <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["return"]</strong>
    </div>
   
}
<h5>Course</h5>
<div class="row">
    <div class="col-sm-6">
        <div class="form-inline">
            <div class="form-group">
                <label for="to">Period:</label>
                <select class="form-control" id="selPeriod1">
                    @foreach (var item in ViewBag.COURSE)
                    {
                        <option value="@item.ID">@item.NAME.Trim()</option>
                    }
                    <option></option>
                </select>
            </div>
            <button type="button" id="btnSearch" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button>

        </div>
    </div>

    <div class="col-sm-6">
        <button id="btnAddCourse" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-file"></span>Add Course</button>
        <button id="btnAddSubject" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-file"></span>Add Subject</button>
    </div>

</div>

<div class="table-responsive">
    <table id="tbCourse" class="table table-bordered">
        <thead>
            <tr class="tbheader">
                <th style="max-width:105px;">Picture</th>
                <th>ID</th>
                <th>Name</th>
                <th>Workgroup</th>
                <th>Course</th>
                <th>Mentor</th>
            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<h5>Employee List</h5>
<div class="row">
    <button id="btnRegEmp" class="btn btn-primary" type="button" data-action="0"><span class="glyphicon glyphicon-file"></span>New</button>
    <button id="btnModify" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>Modify</button>
    <button id="btnReset" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-wrench"></span>Reset Password</button>
    <button id="btnAssign" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-check"></span>Assign</button>
</div>
<div class="table-responsive">
    <table id="tbMainDefault" class="table table-bordered">
        <thead>
            <tr class="tbheader">
                <th style="max-width: 6px;">#</th>
                <th style="max-width:105px;">Picture</th>
                <th>ID</th>
                <th>Name</th>
                <th>Workgroup</th>
                <th>Role</th>
            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- Modal Register Visit -->
<div id="mdRegCus" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Modify Employee</h4>
            </div>
            <div class="modal-body">
                <form id="frmRegEmp" data-action="0" role="form" method="post" action="@Url.Action("InsertUpdateEmployee","Manage")" enctype="multipart/form-data">
                      <input id="StudentId" name="Mode" type="hidden" value="0" />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Emp.Id</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtEmpId" name="ID" maxlength="6" required="required" />
                                    </td>
                                    <td class="tdleft">
                                        <label>Name</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtEmpName" name="NAME" required="required" />
                                    </td>


                                </tr>

                                <tr>
                                    <td class="tdleft">
                                        <label>Dept</label></td>
                                    <td>
                                        <select class="form-control" id="selDept" name="DEPARTMENT">
                                            <option></option>
                                            @foreach (var item in ViewBag.DEPT)
                                            {
                                                <option value="@item.DEPARTMENT.Trim()">@item.DEPARTMENT.Trim()</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="tdleft">
                                        <label>
                                            Picture
                                        </label>
                                    </td>
                                    <td>
                                        <input type="file" name="fileToUpload" id="img" accept="image/gif, image/jpeg, image/png" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>
                                            Role
                                        </label>
                                    </td>
                                    <td>
                                        <select class="form-control" id="selRole" name="ROLE">
                                            <option value="0"></option>
                                            <option value="2">Manager</option>
                                            <option value="3">HR</option>
                                        </select>
                                    </td>
                                    <td class="tdleft">
                                        <label></label>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button id="btnSave" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                     
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<div id="mdAddCourse" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Add Course</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddCourse" role="form" action="@Url.Action("InsertCourse", "Manage")" method="post">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Course Name</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtCourseName" name="Name" />
                                    </td>
                                    <td class="tdleft">
                                        <label>From</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtFrom" name="From" required="required" />
                                    </td>
                                    <td class="tdleft">
                                        <label>To</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtTo" name="To" required="required" />
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<div id="mdAddSubject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Add Subject</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddSubject" role="form" action="@Url.Action("InsertSubject", "Manage")" method="post">

                    <div class="table-responsive">
                        <table id="tbSubject" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Subject</label></td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" id="txtSubjectName" name="Subjects" class="form-control">
                                            <div class="input-group-btn">
                                                <button id="btnAdd" class="btn btn-primary" type="button">Add</button>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<div id="mdAssign" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Assign</h4>
            </div>
            <div class="modal-body">
                <form id="frmAssign" role="form" action="@Url.Action("Assign", "Manage")" method="post">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="tdleft">
                                        <label>Mentor ID</label></td>
                                    <td>
                                        <input type="text" class="form-control" id="txtMentor" name="Mentor" required="required" maxlength="6" />
                                    </td>
                                     <td class="tdleft">
                                        <label>Name</label></td>
                                    <td>
                                         <input type="text" class="form-control" id="lblName" name="Mentor" />
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="tdleft">
                                        <label>Course</label></td>
                                    <td>
                                        <select name="Course" class="form-control" id="selPeriod" required="required">
                                            <option></option>
                                            @foreach (var item in ViewBag.COURSE)
                                            {
                                                <option value="@item.ID">@item.NAME.Trim()</option>
                                            }

                                        </select>
                                    </td>
                                    <td class="tdleft"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>Submit</button>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
